{%extends 'base.html'%}
{%block content%}
<style>
  .trial {
    display: flex;
    flex-direction: row;
  }

  .img img {
    width: 300px;
    height: 300px;
   
  }
  body{
    overflow-x: hidden;
    padding-left:50px;
    padding-right: 50px;
  }
</style>
<br><br><br><br>
<body style="background-color:darkgrey;" >
  <div class="container-fluid text-center"style="background-color: teal; padding:100px;" >
    <h1 class="">Fine Arts ! The Garden of Secrets</h1>
    <h4 style="font-style: italic; color: purple;">"Come experience colour and splash!"</h4>
    <br><br><br><br>
  </div>
  <br>
  <div class="trial row">
    {% for image in images%}
  
    <div class="col-md-4">
      <div class="img">
        <!-- <img src="{{image.image.url}}" alt="" class="responsive"> -->
        <!-- Button trigger modal -->
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}">
          <img src="{{image.image.url}}" alt="" class="responsive">
          <h4>{{image.name}}</h4>
        </a>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: blue;">
                <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="background-color: grey;">
                <p><img src="{{image.image.url}}" ></p>
                <p>{{image.details}}</p>
                <p>location: {{image.location.name}}</p>
                <p>category:{{image.category.name}}</p>
                <p>{{image.date_posted}}</p>
              </div>
              <div class="modal-footer" style="background-color: blueviolet;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-brown" type="button" value="{{ items.image.url }}" onclick="copyToClipboard(this.value)">copy url</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    
    </div>
    {% endfor %} 
    <script>
      function copyToClipboard(value) {
        function handler(event) {
          event.clipboardData.setData('text/plain', value);
          event.preventDefault();
          document.removeEventListener('copy', handler, true);
        }
        document.addEventListener('copy', handler, true);
        document.execCommand('copy');
  
        alert("Copied!");
      }
    </script>
  </div>
  <div class="container">
    <form role="form" class="pt-3" action="/search">
      <div class="form-group">
        <input type="text" class="form-control mt-5 " placeholder="Search category">
        <button type="submit" class="btn btn-warning mt-1">SEARCH</button>
      </div>
  </div>
  {%endblock%}
</body>