{%extends 'base.html'%}
{%block content%}

<div>
    <h1 class="text-center">Fine Arts ! The Garden of Secrets</h1>
</div>
<div class="row">

    {% for image in image%}
    <div class="col-md-4">
        <div class="img" data-toggle="modal" data-target="#exampleModalLong{{image.id}}">
            <img src="{{image.image.url}}" alt="" class="responsive" >
        </div>

        
    </div>
    
    <div class="modal fade" id="exampleModalLong{{items.id}}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="{{image.image.url}}" alt="" class="responsive">
                <p>{{image.details}}</p>
                <p>Category: {{image.category}}</p>
                <p>Location: {{image.location}}</p>
                <p>{{image.date_posted}}</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-brown" type="button" value="{{ items.image.url }}" onclick="copyToClipboard(this.value)">copu url</button>
            </div>
          </div>
        </div>
      </div>

      <a href="{% url 'new_image' %}" class="btn btn-outline-dark bg-dark text-white rounded-pill">Add Image</a>
    </div>

        {% endfor %}
        <script>
            function copyToClipboard(value){
              function handler(event){
                  event.clipboardData.setData('text/plain',value);
                  event.preventDefault();
                  document.removeEventListener('copy',handler, true);
              }
                  document.addEventListener('copy', handler, true);
                  document.execCommand('copy');
          
              alert("URL Successfully Copied!");
          }
        </script>
</div>
<div class="container">
    <form role="form" class="pt-3" action="/search">
        <div class="form-group">
            <input type="text" class="form-control mt-5 " placeholder="Search category" >
            <button type="submit" class="btn btn-warning mt-1">SEARCH</button>
        </div>
</div>
{%endblock%}