{%extends 'base.html'%} 
{% block content %}
<div class="container">
  <br><br><br><br>
  <div class="row">
    {% if image %}
      <h2>Found {{ category|length }} of searched term {{message}}</h2>
    {% else %}
      <h2>  {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if image %}
    {% for image in images %}
      <div class="col-sm-8 col-md-4">
          <h1>{{image.name}}</h1>
          
          <img class="responsive" src="{{image.image.url}}" alt="image">
          <p>Category: {{image.category.name}}</p> 
          <p>Location: {{image.location.name}}</p>
          <p>{{images.date_posted}}</p>
          
      </div>
    {% endfor %}
  {% endif %}
  </div>
  
</div><br><br>
{% endblock %}